@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-extralight-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-light-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-regular-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-semibold-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-bold-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "martel";
  src: url("../fonts/martel/martel-black-webfont.woff2") format("woff2"),
    url("../fonts/martel/martel-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
